:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
body {
    margin: 0;
    background-color: #302e2b;
    justify-content: center;
    align-content: center;    
    height: 100vh;
}

nav {
    position: absolute;
    top: 0px;
    height: 15vh;
    background-color: #262522;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}

.nav-players {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-players span {
    width: 100%;
    padding: 5%;
}

.nav-newgame {
    height: 90%;
    margin-right: 1%;
    width: 10%;
    border-radius: 10px;
    color: #262522;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
